.projects .project-label {
  font-weight: 600;
}

.projects .panel .panel-body  {
  border-bottom: none;
}

.projects .panel:last-child .panel-body  {
  border-bottom: 1px solid $border-color;
}

.projects .panel:last-child .panel-body{
  border-bottom: 1px solid $border-color;
}

.projects .panel h4 a {
  color: $color-text;
}

.projects .project-people img {
  width: 28px;
  height: 28px;
  margin-left: 2px;
  margin-bottom: 4px;
}

.projects .project-info {
  text-align: right;
}

@media(max-width:768px) {
  .projects .project-info {
    text-align: left;
  }
}