<!-- Main Wrapper -->
<div id="wrapper">



	<div class="content animate-panel">
		<a href="/admin" class="btn btn-primary btn-large">Admin</a>
		<a href="/test.html" class="btn btn-danger btn-large">test</a>

	</div>

</div>

