.text-navy-blue, .text-primary {
  color:$color-navy-blue;
}
.text-violet, .text-primary2 {
  color:$color-violet;
}
.text-blue, .text-info {
  color:$color-blue;
}
.text-green, .text-success {
  color:$color-green;
}
.text-yellow, .text-warning {
  color:$color-yellow;
}

.text-orange, .text-warning2 {
  color:$color-orange;
}
.text-red, .text-danger {
  color:$color-red;
}
.text-red-deep, .text-danger2 {
  color:$color-red-deep;
}


