<div class="row">
	<div class="span3 c">
		<div class="fb-like" data-action="like" data-href="{{ _http }}" data-layout="button_count" data-share="true" data-show-faces="false" style="text-align: left;"> </div>
	</div>

	<div class="span3 c">
		<p style="text-align: left;"><a class="twitter-share-button" href="https://twitter.com/share" style="margin-left:30px;"> </a></p>

		<p style="margin: 0px; text-align: left;"><font color="#000000" face="Times New Roman" size="3"><iframe href="http://www.facebook.com/plugins/follow?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100009490252706&amp;amp;layout=standard&amp;amp;show_faces=true&amp;amp;colorscheme=light&amp;amp;width=450&amp;amp;height=80" http:="" plugins="" src="//&lt;/font&gt;&lt;a data-cke-saved-href=" target="_blank" www.facebook.com=""><u><font color="#0000ff" face="Times New Roman" size="3">www.facebook.com/plugins/follow?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100009490252706&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=450&amp;height=80</font></u></a><font color="#000000" face="Times New Roman" size="3">" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe></font></p>

		<p style="text-align: left;"> </p>
	</div>
</div>
