{% import "_macros.twig" as macros %}
<div class="normalheader transition animated fadeIn small-header ">
	<div class="panel">
		<div class="panel-body" id="heading-header-bar">
			<div id="heading-header-bar-label">
				<div class="">
					<h1 class="font-light text-violet" id="page-title">
						&nbsp;
					</h1>
				</div>


			</div>
		</div>
	</div>
</div>

<div class="content animate-panel list-content" id="content-area">


</div>