<div class="normalheader transition animated fadeIn small-header ">
	<div class="panel">
		<div class="panel-body" id="heading-header-bar">
			<div id="heading-header-bar-label">
				<div class="">
					<h2 class="font-light">
						Administration
					</h2>
					<small>Site dashboard</small>
				</div>
				<div id="breadcrumb">
					<ol class="hbreadcrumb breadcrumb">
						<li>
							<a href="/admin">Dashboard</a>
						</li>
					</ol>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="content animate-panel" id="content-area">


</div>