<input type="text" id="search" name="search" value="">


<hr>
<button class="content-btn" type="button">type:email test company:xyz type:phone woof</button>
<button class="content-btn" type="button">type:email</button>
<button class="content-btn" type="button">test</button>
<button class="content-btn" type="button">type</button>
<button class="content-btn-blank" type="button">blank</button>