<div class="panel {{ field['data']['color'] }}">
	{% if field['data']['parts']['heading']=='1' %}
	<div class="panel-heading">
		<div class="content-area"></div>
	</div>
	{% endif %}
	{% if field['data']['parts']['body']=='1' %}
	<div class="panel-body">
		<div class="content-area"></div>

	</div>
	{% endif %}
	{% if field['data']['parts']['footer']=='1' %}
	<div class="panel-footer">
		<div class="content-area"></div>
	</div>
	{% endif %}
</div>