$active-border-color: #bdbdbd;
$active-border: 3px solid #bdbdbd;
#right-area {
  z-index: 1040;
  #side-bar-body {
	overflow-y: auto;
  }

  &.fixed {

	#side-bar {
	  position: static;

	  &.navbar-offcanvas {
		overflow: hidden;
	  }
	}
	#side-bar-body {
	  position: absolute;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  overflow-y: auto;
	  margin: 0;
	}

  }

}


.offcanvas-stop-scrolling {
  #right-area {
	#side-bar {

	  &.navbar-offcanvas {
		overflow: hidden;
		z-index: 999999;
	  }
	}
  }
}


#left-area {
  .advert-list-item {
	border-bottom: 1px solid #cccccc;
	.advert-list-heading {

	}
	.advert-list-dates {
	  font-weight: bold;
	}
	.advert-list-filter {

	}

  }

  .advert-record {
	cursor: pointer;

	&.active {

	  .panel-heading {
		h3 {

		}
	  }

	}
  }

  &.selected {
	.advert-record {
	  opacity: 0.5;
	  filter: blur(2px);
	  &.active {
		opacity: 1;
		filter: blur(0);
	  }
	}

  }

}


@media (min-width: 767px) {
  #left-area {
	.advert-record {
	  &.active {

	  }
	}

  }

}


.restrictions {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #cccccc;
}


.checkbox {
  label {
	display: block;
  }
}


.input-group {
  &.searching {
	border: 1px solid #34495e !important;
	border-radius: 4px;
  }
}


#list-items {
  &:empty {
	color: #666666;
	text-align: center;
	padding: 40px;
	&:before {
	  content: 'No records found';
	}
  }

  .list-group-item {
	padding: 5px 10px;
	cursor: pointer;
  }

  .grid-preview {
	margin-right:100px;
	margin-left:10px;
	.content-area {
	  min-height:15px;
	  border:1px dotted #666;
	}


  }
}


#content-zone {
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(150, 150, 150, 0.2) inset;

  min-height: 100px;
  &:empty {
	color: #666666;
	text-align: center;
	padding: 40px;
	&:before {
	  content: 'Nothing here yet';
	}
  }
  .content-area {
	padding:5px;
	border:1px dotted #ccc;
	min-height:30px;
  }

  .item {
	border: 1px solid #cccccc;
	min-height: 20px;
	position: relative;
	margin-top:3px;
	margin-bottom:3px;
	
	.mask {
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: rgba(250, 0, 0, 0.05);
	  cursor: pointer;
	  &:hover {
		background: rgba(250, 0, 0, 0.1);
		.mask-label {
		  display:block;
		}
	  }

	}
	.mask-label {
	  display: none;
	  position: absolute;
	  bottom: 0px;
	  right: 0;
	  font-size:8px;
	  text-shadow: 0 0 4px #fff;
	}
  }
  .modal-dialog {
	margin-top:30px;
  }


  .footer-mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(250, 250, 250, 0.5);
	background: /* On "top" */
			repeating-linear-gradient(
							45deg,
							rgba(250, 250, 250,0.6),
							rgba(250, 250, 250,0.6) 5px,
							rgba(250, 250, 250, 0.5) 5px,
							rgba(250, 250, 250, 0.5) 10px
			),
			  /* on "bottom" */
			linear-gradient(
							to bottom,
							rgba(250, 250, 250,0.6),
							rgba(250, 250, 250,0.6)
			);
  }
}
