#right-area {
  z-index: 1040; }
  #right-area #side-bar-body {
    overflow-y: auto; }
  #right-area.fixed #side-bar {
    position: static; }
    #right-area.fixed #side-bar.navbar-offcanvas {
      overflow: hidden; }
  #right-area.fixed #side-bar-body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    margin: 0; }

.offcanvas-stop-scrolling #right-area #side-bar.navbar-offcanvas {
  overflow: hidden;
  z-index: 999999; }

#left-area .advert-list-item {
  border-bottom: 1px solid #cccccc; }
  #left-area .advert-list-item .advert-list-dates {
    font-weight: bold; }

#left-area .advert-record {
  cursor: pointer; }

#left-area.selected .advert-record {
  opacity: 0.5;
  filter: blur(2px); }
  #left-area.selected .advert-record.active {
    opacity: 1;
    filter: blur(0); }

.restrictions {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #cccccc; }

.checkbox label {
  display: block; }

.input-group.searching {
  border: 1px solid #34495e !important;
  border-radius: 4px; }

#list-items:empty {
  color: #666666;
  text-align: center;
  padding: 40px; }
  #list-items:empty:before {
    content: 'No records found'; }

#list-items .list-group-item {
  padding: 5px 10px; }

.content-zone {
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(150, 150, 150, 0.2) inset;
  min-height: 100px; }
  .content-zone:empty {
    color: #666666;
    text-align: center;
    padding: 40px; }
    .content-zone:empty:before {
      content: 'Nothing here yet'; }
  .content-zone .content-area {
    padding: 5px;
    border: 1px dotted #ccc;
    min-height: 30px; }
  .content-zone .item {
    border: 1px solid #cccccc;
    min-height: 20px;
    position: relative;
    margin-top: 3px;
    margin-bottom: 3px; }
    .content-zone .item .mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(250, 0, 0, 0.1); }
  .content-zone .modal-dialog {
    margin-top: 30px; }
