
.loadingmask {
	background : rgba(250, 250, 250, 0.7) url(/ui/_images/loading-wide.gif) no-repeat center center;
	position   : fixed;
	top        : 0;
	bottom     : 0;
	left       : 0;
	right      : 0;
	z-index    : 350000;
	display:none;
	&.round {
		background : rgba(250, 250, 250, 0.7) url(/ui/_images/loading-small.gif) no-repeat center center;

	}
	&.bar {
		background : rgba(250, 250, 250, 0.7) url(/ui/_images/loading-wide.gif) no-repeat center center;

	}
	&.fa {
		background-image:none;
		i {

			font-size:180px;
			position:absolute;
			left:50%;
			margin-left:-75px;
			top:50%;
			margin-top:-130px;
			color:#ccc;
			opacity:0.4;
		}
	}
}