

#page-content {
  padding: 60px 0 0 0;
}

html {
  margin: 0;
  padding: 0;
}

body {

  background-color: $color-background;
  font-size: 13px;
  color: $color-text;
  margin: 0;
  padding: 0;

}

body.load-font {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section-row {
  margin: 0 -15px;
}

@media (max-width: 767px) {
  .section-row {
	margin: 0;
	#left-area, #right-area {
	  padding: 0;
	}
  }
}