
#pagination {
	padding:0;
	margin:0;
	nav {
		padding:0;
		margin:0;
	}
	.pagination {
		margin:0;
		padding:0;
	}
	.pagination-sm {
		margin:5px 0 0 0;
	}
	#pagination-info {
		line-height: 40px;
	}
}


.no-records {
	padding      : 30px !important;
	text-align   : center !important;
	margin-right : 20px !important;
	border       : none !important;
}
.record {
	.progress {
		background:none;
		box-shadow:none;
	}
}
table.records {
  thead {
	th.options-order {
	  cursor: pointer;

	  &.active {

		position: relative;
		padding-right:15px;
		.fa {
		 margin-right:3px;
		  color:#ccc;
		}

		&:hover {
		  .fa {
			color:#999;
		  }
		}
	  }
	}
  }
  tbody {
	tr.heading{
	  td {
		padding-top:3px;
		padding-bottom:3px;
		background-color: $border-color;
		font-variant: small-caps;

	  }
	}
	tr.record {
	  cursor : pointer;
	  &.active {
		td {
		  background-color: $color-navy-blue;
		  color:#fff;
		}
	  }
	  &:hover {
		td {
		  background-color: lighten($color-navy-blue,10%);
		  color:#fff;
		}
	  }
	}
  }
}
ul.records {

	li.record {
	  cursor : pointer;
	  &.active {

		  background-color: $color-navy-blue;
		  color:#fff;

	  }
	  &:hover {

		  background-color: lighten($color-navy-blue,10%);
		  color:#fff;

	  }
	}

}
.panel-group.records {
	.record {
	  &.panel-heading {
		padding:0;
		a {
			padding:10px 4px;
		  display:block;

		  &:not(.collapsed){
			background-color: $color-navy-blue;
			color:#fff;
		  }
		  &:hover {

			background-color: lighten($color-navy-blue,10%);
			color:#fff;

		  }


		}
	  }


	}
}